dailyDigest.json
{
  "name": "test 1",
  "nodes": [
    {
      "parameters": {
        "pollTimes": [{ "mode": "everyMinute" }],
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [0, 208],
      "id": "GmailTrigger",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [224, 16],
      "id": "GeminiModel",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GEMINI_API_ID",
          "name": "Google Gemini API account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [576, -48],
      "id": "Discord",
      "name": "Discord",
      "credentials": {
        "discordWebhookApi": {
          "id": "YOUR_DISCORD_WEBHOOK_ID",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [576, 160],
      "id": "Telegram",
      "name": "Send a text message",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_API_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 5 }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-224, -96],
      "id": "ScheduleTrigger",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://rss.nytimes.com/services/xml/rss/nyt/World.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, -96],
      "id": "HTTPRequest",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a professional news summarizer...\nArticles to summarize:\n{{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [224, -192],
      "id": "NewsAgent",
      "name": "News"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an email summarizer...\nFrom: {{ $json.headers.from }}\nSubject: {{ $json.headers.subject }}\nID: {{ $json.id }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [224, 208],
      "id": "MailAgent",
      "name": "Mails"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [{ "node": "Mails", "type": "main", "index": 0 }]
    },
    "Schedule Trigger": {
      "main": [{ "node": "HTTP Request", "type": "main", "index": 0 }]
    },
    "HTTP Request": {
      "main": [{ "node": "News", "type": "main", "index": 0 }]
    },
    "News": {
      "main": [
        { "node": "Discord", "type": "main", "index": 0 },
        { "node": "Send a text message", "type": "main", "index": 0 }
      ]
    },
    "Mails": {
      "main": [
        { "node": "Discord", "type": "main", "index": 0 },
        { "node": "Send a text message", "type": "main", "index": 0 }
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "SANITIZED_VERSION_ID",
  "meta": {},
  "id": "SANITIZED_WORKFLOW_ID",
  "tags": []
}
